#green {
width: 100px;
}
#pink {
width: 100px;
}
#blue {
width: 100px;
}
#purple {
width: 100px;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	color: white;
}
p {
	font-size: 10pt;
}
span, .btn {
	text-align: left;
}
body {
	background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
}